---
import Layout from '$src/layouts/Layout.astro';
import { getCollection } from 'astro:content';
const blog_entries = await getCollection('posts');
---

<Layout title="Blog">
	<div class="wrapper">
		<h1>Posts</h1>
		<ul>
			{
				blog_entries.map((entry) => (
					<li>
						<a href={`/posts/${entry.slug}`}>{entry.data.title}</a>
					</li>
				))
			}
		</ul>
	</div>
</Layout>
