@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
}

@layer components {
	body {
		font-family: theme('fontFamily.primary');
		overflow-x: hidden;
		min-height: 100dvh;
	}

	.wrapper {
		max-width: theme('maxWidth.screen-2xl');
		margin: 0 auto;
		padding: 0 theme('spacing.4');
	}
}
