@import 'tailwindcss';

@plugin '@tailwindcss/container-queries';

@theme {
	--breakpoint-*: initial;
	--breakpoint-xs: 350px;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1536px;

	--font-primary: Poppins, sans-serif;
	--font-condensed:
		Barlow Condensed, Roboto Condensed, Bahnschrift, DIN Alternate, Franklin Gothic Medium,
		Nimbus Sans Narrow, sans-serif-condensed, sans-serif;
	--font-fancy: moranga, serif;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

@layer base {
	@font-face {
		font-family: 'moranga';
		src: url('/fonts/moranga-bold.woff2') format('woff2');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'moranga';
		src: url('/fonts/moranga-bold-italic.woff2') format('woff2');
		font-weight: bold;
		font-style: italic;
		font-display: swap;
	}
	@font-face {
		font-family: 'moranga';
		src: url('/fonts/moranga-black-italic.woff2') format('woff2');
		font-weight: 900;
		font-style: italic;
		font-display: swap;
	}
	@font-face {
		font-family: 'moranga';
		src: url('/fonts/moranga-black.woff2') format('woff2');
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Poppins';
		src: url('/fonts/Poppins-Bold.woff2') format('woff2');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Poppins';
		src: url('/fonts/Poppins-BoldItalic.woff2') format('woff2');
		font-weight: bold;
		font-style: italic;
		font-display: swap;
	}
	@font-face {
		font-family: 'Poppins';
		src: url('/fonts/Poppins-MediumItalic.woff2') format('woff2');
		font-weight: medium;
		font-style: italic;
		font-display: swap;
	}
	@font-face {
		font-family: 'Poppins';
		src: url('/fonts/Poppins-Medium.woff2') format('woff2');
		font-weight: medium;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Barlow Condensed';
		src: url('/fonts/BarlowCondensed-Regular.woff2') format('woff2');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}
}

@layer utilities {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
}

@layer base {
	body {
		font-family: var(--font-primary);
		min-height: 100dvh;
	}

	.no-scroll {
		overflow: hidden;
		position: fixed;
		width: 100%;
		height: 100%;

		@media (width > var(--breakpoint-xl)) {
			overflow: auto;
			position: static;
			width: auto;
			height: auto;
		}
	}

	img {
		width: max(auto, 100%);
		display: block;
		background: linear-gradient(to bottom right, var(--color-pink-200), var(--color-sky-200));
	}

	.wrapper {
		max-width: var(--content-max-width);
		margin: 0 auto;
		padding: 0 --spacing(2);

		@media (min-width: 350px) {
			padding: 0 --spacing(4);
		}

		@media (width > theme(--breakpoint-sm)) {
			padding: 0 --spacing(8);
		}
	}

	.content_wrapper,
	.full_width {
		--padding-inline: 2rem;
		--content-max-width: 750px;
		--breakout-max-width: 950px;

		--breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

		display: grid;
		grid-template-columns:
			[full-width-start] minmax(var(--padding-inline), 1fr)
			[breakout-start] minmax(0, var(--breakout-size))
			[content-start] min(100% - var(--padding-inline) * 2, var(--content-max-width))
			[content-end] minmax(0, var(--breakout-size))
			[breakout-end] minmax(var(--padding-inline), 1fr)
			[full-width-end];

		&:not(.breakout) > * {
			grid-column: content;
		}

		.breakout {
			grid-column: breakout;

			& > img {
				aspect-ratio: 16/9;
				object-fit: cover;
			}
		}

		.full_width {
			grid-column: full-width;
		}
	}

	.hero {
		background-color: var(--color-pink-500);
		background:
			linear-gradient(to bottom right, var(--color-pink-500), var(--color-sky-600)),
			var(--bg-img) center no-repeat;
		background-blend-mode: color;
		background-size: cover;
		/* min-height: 50vh; */
		width: 100%;

		@media (width > theme(--breakpoint-lg)) {
			/* min-height: 70vh; */
			background-attachment: fixed;
		}
	}

	.btn {
		background-color: var(--color-pink-500);
		color: var(--color-white);
		padding: --spacing(3) --spacing(10);
		border-radius: theme('borderRadius.full');
		transition: all 3ms ease-in-out;
		display: flex;
		width: fit-content;
		border: 2px solid var(--color-pink-500);
		text-align: center;
		transition: all 250ms ease-in-out;

		&:hover {
			background-color: var(--color-pink-100);
			color: var(--color-pink-600);
		}
	}

	.card {
		background: white;
		box-shadow: var(--shadow-lg);
		border-radius: var(--radius-xl);
		overflow: hidden;
	}

	.gradient_text {
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		&::selection {
			background-color: var(--color-rose-500);
			color: var(--color-white);
			-webkit-text-fill-color: initial;
			-webkit-background-clip: initial;
		}
	}

	.stripe:nth-child(even) {
		background-color: var(--color-pink-100);
	}

	.hero_img {
		width: 100%;
		margin: 0 auto;
		border-radius: var(--radius-xl);
		box-shadow: var(--shadow-lg);
		aspect-ratio: 1/1;
		object-fit: cover;

		@media (width > theme(--breakpoint-sm)) {
			aspect-ratio: 16/9;
		}
		@media (width > theme(--breakpoint-lg)) {
			aspect-ratio: 16/6;
		}
	}

	.input {
		font-size: var(--text-base);

		@media (width > theme(--breakpoint-sm)) {
			font-size: var(--text-lg);
		}

		label,
		input,
		textarea {
			display: block;
		}

		label {
			font-weight: var(--font-weight-bold);
			margin-bottom: --spacing(1);
		}

		input,
		textarea {
			padding: --spacing(3) --spacing(3);
			display: block;
			width: 100%;
			border-radius: var(--radius-lg);
			outline: none;
			color: var(--color-gray-800);

			&:focus,
			&:active {
				outline: solid 2px var(--color-pink-500);
			}
		}
	}

	.page_title {
		font-family: var(--font-fancy);
		font-weight: 700;
		font-size: var(--text-4xl);
		text-align: center;
		padding-top: --spacing(10);
		width: fit-content;
		margin: 0 auto;

		@media (width > theme(--breakpoint-xs)) {
			font-size: var(--text-6xl);
		}
		@media (width > theme(--breakpoint-lg)) {
			font-size: var(--text-7xl);
		}
	}

	.spray_gradient {
		background:
			radial-gradient(circle at top left, var(--color-amber-500) 0.3ch, transparent 2ch),
			radial-gradient(circle at bottom right, var(--color-rose-400) 0.3ch, transparent 3ch),
			var(--color-pink-500);

		background-repeat: no-repeat;
		background-clip: text;
		color: var(--color-pink-500);
		font-weight: bold;
	}
	.spray_gradient2 {
		background:
			radial-gradient(circle at top left, var(--color-rose-400) 0.3ch, transparent 2ch),
			radial-gradient(circle at bottom right, var(--color-rose-400) 0.5ch, transparent 3ch),
			var(--color-pink-500);

		background-repeat: no-repeat;
		background-clip: text;
		color: var(--color-pink-500);
		font-weight: bold;
	}

	.contact_gradient {
		background:
			radial-gradient(circle at top left, var(--color-amber-100), transparent),
			radial-gradient(circle at bottom right, var(--color-cyan-100), transparent),
			var(--color-pink-500);
		box-shadow: var(--shadow-lg);
		border-radius: var(--radius-xl);
	}
}

::selection {
	background-color: var(--color-rose-500);
	color: var(--color-white);
}
