---
import CampCards from '$src/components/CampCards.astro';
import Layout from '$src/layouts/Layout.astro';
import { Image } from 'astro:assets';

import holding_img from '$src/assets/imgs/holding.webp';
import snapping_img from '$src/assets/imgs/snapping.webp';
import multibarhang_img from '$src/assets/imgs/multibarhang.webp';
---

<Layout>
	<header style="--bg-img: url('/imgs/holding.webp')" class="flex flex-col justify-end bg-pink-50">
		<div class="wrapper">
			<Image
				src={holding_img}
				alt="Suzanne's Dance & Gymnastics"
				class="w-full mx-auto rounded-lg shadow-lg aspect-square sm:aspect-video lg:aspect-[16/6] object-cover"
			/>
		</div>
	</header>

	<main class="bg-pink-50">
		<div class="grid md:grid-cols-12 gap-6 py-6 wrapper">
			<article id="class" class="card md:col-span-6 flex flex-col">
				<div
					class="after:content-[''] relative after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-gradient-to-br from-pink-500/30 to-rose-300/50 after:bg-blend-multiply"
				>
					<Image
						width={700}
						quality={50}
						class="w-full object-cover object-center h-80 grayscale"
						src={snapping_img}
						alt="Map"
					/>
				</div>

				<div class="p-4 text-center flex flex-[2] flex-col justify-center py-8 px-4">
					<h3 class="text-4xl font-bold">Classes</h3>
					<a href="/classes" class="btn mx-auto mt-6 flex items-center gap-2">Learn More</a>
				</div>
			</article>
			<article id="bus" class="card md:col-span-6 flex flex-col">
				<div
					class="after:content-[''] relative after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-gradient-to-br from-pink-500/30 to-sky-500/50 after:bg-blend-multiply"
				>
					<Image
						width={700}
						quality={50}
						class="w-full object-cover object-center h-80 grayscale"
						src={multibarhang_img}
						alt="Map"
						loading="lazy"
					/>
				</div>

				<div class="p-4 text-center flex flex-[2] flex-col justify-center py-8 px-4">
					<h3 class="text-4xl font-bold">Jumpin' Jitney</h3>
					<a
						href="/jumpin-jitney"
						class="btn mx-auto bg-sky-500 hover:bg-sky-100 hover:text-sky-600 border-sky-500 mt-6 flex items-center gap-2"
						>Learn More
					</a>
				</div>
			</article>

			<article
				class="card col-span-full px-4 py-6 md:flex justify-between items-center bg-gradient-to-b from-violet-200 to-violet-100 flex-wrap"
			>
				<h2 class="font-bold text-3xl text-center md:text-left">
					🎈<span class="gradient_text bg-gradient-to-br from-purple-500 to-rose-400"
						>Suzanne's Does Parties Too!</span
					> 🎉
				</h2>
				<a
					href="/parties"
					class="btn bg-purple-400 border-purple-400 hover:bg-purple-100 hover:text-purple-600 mt-5 mx-auto md:m-0"
					>Learn More</a
				>
			</article>

			<CampCards classes={['md:col-span-4']} />

			<article
				class="card bg-cover bg-no-repeat bg-center flex justify-center items-center relative aspect-square md:aspect-auto @container md:col-span-6"
				style="background-image: url('/imgs/maybe_merch.webp');"
			>
				<div class="w-fit">
					<h3 class="spray_gradient gradient_text text-center text-5xl @sm:text-6xl">Merch</h3>
					<a href="/merch" class="btn mt-5">View Merch</a>
				</div>
			</article>

			<atricle class="card flex flex-col md:col-span-6" id="map">
				<a
					href="https://www.google.com/maps/place/Suzanne's+Dance+%26+Gymnastic's/@40.3509668,-76.3997132,18z/data=!4m2!3m1!1s0x89c6030624df1d39:0xce5d55a8063d8861"
					target="__blank"
					class="flex-grow-0 flex-shrink w-full"
				>
					<img
						class="w-full object-cover object-center block max-h-52"
						src="/imgs/map.webp"
						alt="Map"
						loading="lazy"
					/>
				</a>
				<div class="p-4 text-center flex flex-col justify-center flex-1 py-8 px-4">
					<h3 class="text-4xl font-bold">Find Us</h3>
					<a href="tel:7172722159" class="text-lg mb-2 mt-4" aria-label="7 1 7. 2 7 2. 2 1 5 9."
						>(717) 272-2159</a
					>
					<address class="md:text-lg">717 N 8th Ave, Lebanon PA 17042</address>
					<a
						href="https://www.google.com/maps/place/Suzanne's+Dance+%26+Gymnastic's/@40.3509668,-76.3997132,18z/data=!4m2!3m1!1s0x89c6030624df1d39:0xce5d55a8063d8861"
						target="_blank"
						class="btn mx-auto bg-emerald-500 hover:bg-emerald-100 hover:text-emerald-600 border-emerald-500 mt-12 flex items-center gap-2"
						>Open Google Maps
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="20"
							height="20"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="lucide lucide-external-link"
							><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline
								points="15 3 21 3 21 9"></polyline><line x1="10" x2="21" y1="14" y2="3"></line></svg
						>
					</a>
				</div>
			</atricle>
		</div>
	</main>
</Layout>

<style>
	.main-ctas {
		a {
			.icon {
				width: 200px;
				max-width: 100%;
				margin: 0 auto;
				aspect-ratio: 1/1;
				border-radius: theme('borderRadius.full');
				border: solid 4px currentColor;
				display: block;
				display: flex;
				justify-content: center;
				align-items: center;

				svg {
					transition: scale 300ms;
				}
			}

			&:hover {
				.icon {
					@apply bg-white/30;
					svg {
						scale: 1.2;
					}
				}
			}
		}
	}

	.spray_gradient {
		background: radial-gradient(
				circle at top left,
				theme('colors.amber.500') 0.3ch,
				transparent 2ch
			),
			radial-gradient(circle at bottom right, theme('colors.rose.400') 0.3ch, transparent 3ch),
			theme('colors.pink.500');

		background-repeat: no-repeat;
		background-clip: text;
		color: #fff;
		font-weight: bold;
	}

	.gradient_btn {
		background: radial-gradient(circle at top left, theme('colors.amber.500'), transparent),
			radial-gradient(circle at bottom right, theme('colors.rose.400'), transparent),
			theme('colors.pink.500');
	}
</style>
