<script>
	const toggle_btn = document.querySelector('#hamburger');
	const nav = document.querySelector('#primary_nav');

	toggle_btn.addEventListener('click', () => {
		const expanded = toggle_btn.getAttribute('aria-expanded') === 'true';
		toggle_btn.setAttribute('aria-expanded', `${!expanded}`);
		nav.classList.toggle('open');
	});
</script>

<div class="fixed w-full top-3 isolate z-50 px-4">
	<div
		class="bg-gradient-to-b from-pink-300 to-pink-200 wrapper xl:pr-0 overflow-hidden shadow-lg rounded-lg mx-auto font-condensed flex justify-between items-center"
	>
		<div class="logo relative z-10">
			<a href="/" class="text-3xl text-pink-900 uppercase py-5 block pl-2" title="Hompage Link">
				Suzanne's<span class="text-slate-900">Dance</span>
			</a>
		</div>

		<div>
			<button id="hamburger" class="group" aria-expanded="false">
				<svg
					viewBox="0 0 100 100"
					width="26"
					class="fill-pink-700 group-aria-[expanded='true']:fill-pink-100"
				>
					<rect class="line top" width="100" height="10" rx="5" x="0" y="15"></rect>
					<rect class="line middle" width="100" height="10" rx="5" x="0" y="45"></rect>
					<rect class="line bottom" width="100" height="10" rx="5" x="0" y="75"></rect>
				</svg>
			</button>
		</div>

		<nav id="primary_nav">
			<a href="/classes" title="Classes" class="">Classes</a>
			<a href="/jumpin-jitney" title="Jumpin' Jitney" class="">Jumpin' Jitney</a>
			<a href="/parties" title="Parties" class="">Parties</a>
			<a href="/merch" title="Merch" class="">Merch</a>
			<a href="/camp" title="Camp" class="">Camp</a>
			<a href="/posts" title="Posts" class="">Posts</a>
		</nav>
	</div>
</div>

<style>
	nav {
		font-family: theme('fontFamily.condensed');
		justify-content: flex-end;
		position: absolute;
		top: -1.75rem;
		right: 0;
		width: min(480px, calc(100% - 3rem));
		height: 100dvh;
		background: theme('colors.pink.200');
		font-size: theme('fontSize.4xl');
		translate: 100% 0;
		width: 100vw;
		transition: translate 300ms, scale 300ms;
		z-index: 1;
		overflow: hidden;
		padding-top: theme('spacing.24');
		background: linear-gradient(to bottom, theme('colors.pink.300'), theme('colors.pink.200'));

		&.open {
			translate: 0 0;

			& > a {
				translate: 0 0;
			}
		}

		@screen sm {
			max-width: 400px;
		}

		@screen xl {
			background: transparent;
			display: flex;
			font-size: theme('fontSize.3xl');
			flex: 1;
			position: static;
			width: auto;
			height: auto;
			padding-top: 0;
			translate: 0 0;
			scale: 1 1;
			width: auto;
			max-width: none;
		}

		a {
			--offset: 100%;
			padding: theme('spacing.5');
			display: block;
			transition: all 300ms 300ms;
			translate: var(--offset) 0;
			text-align: center;

			&:nth-child(even) {
				--offset: -100%;
			}

			@screen xl {
				transition-delay: 0ms;
				transition-duration: 200ms;
				translate: 0 0;
				&:hover {
					background: theme('colors.pink.600');
					color: theme('colors.pink.100');
				}
			}
		}
	}

	#hamburger {
		position: relative;
		z-index: 3;
		width: 50px;
		height: 50px;
		border-radius: theme('borderRadius.2xl');
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		overflow: clip;
		padding: 5px;
		transition: background 250ms, translate 250ms;

		@screen xl {
			display: none;
		}

		.line {
			transition: y 200ms ease-in 200ms, rotate 200ms ease-in, opacity 0ms 200ms;
			transform-origin: center;
		}

		&[aria-expanded='true'] {
			background: theme('colors.rose.500');

			.line {
				transition: y 200ms ease-in, rotate 200ms ease-in 200ms, opacity 0ms 200ms;
			}

			.top,
			.bottom {
				y: 45;
			}

			.top {
				rotate: 45deg;
			}
			.middle {
				opacity: 0;
			}
			.bottom {
				rotate: -45deg;
			}
		}
	}
</style>
