<div class="bg-pink-200 w-screen border-b-4 border-pink-600">
	<div class="wrapper mx-auto font-condensed flex">
		<div class="logo">
			<a href="/" class="text-3xl text-pink-900 uppercase py-5 block" title="Hompage Link">
				Suzanne's <span class="text-slate-900">Dance</span>
			</a>
		</div>

		<nav class="text-3xl font-condensed flex justify-end flex-1">
			<a href="" class="">Classes</a>
			<a href="" class="">Jumpin' Jitney</a>
			<a href="" class="">Parties</a>
			<a href="" class="">Merch</a>
			<a href="" class="">Camp</a>
		</nav>
	</div>
</div>

<style lang="postcss">
	nav {
		a {
			padding: theme('spacing.5');

			&:hover {
				background: theme('colors.pink.600');
			}
		}
	}
</style>
