---
import '../styles/styles.css';
export interface Props {
	title?: string;
}

const { title = "Suzanne's Dance" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title === "Suzanne's Dance" ? "Suzanne's Dance" : `${title} | Suzanne's Dance`}</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a>
		</nav>
		<slot />
	</body>
</html>
